<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-aauto">
                <h2 class="login-header">Đăng nhập</h2>
                <div class="form-group">
                    <label for="email">Email/phone</label>
                    <input type="text" id="email" class="form-control">
                    <div class="divider-nospace"></div>
                </div> <!--End form group-->
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="Ít nhất 3 ký tự">
                    <i class="password-toggle fa fa-eye-slash" aria-hidden="true"></i>
                    <div class="divider-nospace"></div>
                </div> <!--End password field-->
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label for="remember" class="form-check-label text-start">Ghi nhớ đăng nhập</label>
                            <a href="#" class="register-link">Quên mật khẩu</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>