$tea-green: #ccd5aeff;
$beige: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$buff: #d4a373ff;

.intro-section{
    text-align: center;
    background-color:$buff;
}
.form-control:focus{
    border-color: white;
    background-color: $papaya-whip;
}
table{
    width: 100%;
    border-radius: 10px;
    border:none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: $beige;
}
th, td {
    padding: 10px;
    text-align: center;
}
.product-info{
    display: flex;
    align-items: center;
}
.product-image{
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}
.product-name{
    margin-right: 10px;
}
.text-end {
    text-align: end; /* Căn chỉnh văn bản về phía cuối */
}
.btn-gradient {
    background: linear-gradient(to right, $tea-green, $buff);
}