<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Mộc Computer</h1>
        <p>Trang này hiển thị thông tin sản phẩm</p>
        <p>Người dùng có thể lựa chọn sản phẩm tại đây</p>
    </div>
    <!-- Đoạn này là viết code tìm kiếm và lựa chọn loại sản phẩm -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Đồ nhà bếp</option>
            <option>Đồ phòng ngủ</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg" alt="Product-Image" class="product-image">
                <h3 class="product-name">Macbook Pro</h3>
                <p class="product-description">16.2 inch, 3456 x 2234 Pixels, OLED, 120, 1000 nits, Retina                   Apple, M2 Pro, 12-Core                 
                16 GB (1 thanh 16 GB), Hãng không công bố, Hãng không công bố MHz                   
                SSD 1 TB Apple M2 Pro 19-core GPU</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$2000</del> $1000</p>
                <div class="product-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div> <!--end product-item!-->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/7974/pexels-photo.jpg" alt="Product-Image" class="product-image">
                <h3 class="product-name">Macbook Pro</h3>
                <p class="product-description">16.2 inch, 3456 x 2234 Pixels, OLED, 120, 1000 nits, Retina                   Apple, M2 Pro, 12-Core                 
                16 GB (1 thanh 16 GB), Hãng không công bố, Hãng không công bố MHz                   
                SSD 1 TB Apple M2 Pro 19-core GPU</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$2000</del> $1000</p>
                <div class="product-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div> <!--end product-item!-->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg" alt="Product-Image" class="product-image">
                <h3 class="product-name">Macbook Pro</h3>
                <p class="product-description">16.2 inch, 3456 x 2234 Pixels, OLED, 120, 1000 nits, Retina                   Apple, M2 Pro, 12-Core                 
                16 GB (1 thanh 16 GB), Hãng không công bố, Hãng không công bố MHz                   
                SSD 1 TB Apple M2 Pro 19-core GPU</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$2000</del> $1000</p>
                <div class="product-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div> <!--end product-item!-->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg" alt="Product-Image" class="product-image">
                <h3 class="product-name">Macbook Pro</h3>
                <p class="product-description">16.2 inch, 3456 x 2234 Pixels, OLED, 120, 1000 nits, Retina                   Apple, M2 Pro, 12-Core                 
                16 GB (1 thanh 16 GB), Hãng không công bố, Hãng không công bố MHz                   
                SSD 1 TB Apple M2 Pro 19-core GPU</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$2000</del> $1000</p>
                <div class="product-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div> <!--end product-item!-->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/18105/pexels-photo.jpg" alt="Product-Image" class="product-image">
                <h3 class="product-name">Macbook Pro</h3>
                <p class="product-description">16.2 inch, 3456 x 2234 Pixels, OLED, 120, 1000 nits, Retina                   Apple, M2 Pro, 12-Core                 
                16 GB (1 thanh 16 GB), Hãng không công bố, Hãng không công bố MHz                   
                SSD 1 TB Apple M2 Pro 19-core GPU</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$2000</del> $1000</p>
                <div class="product-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div> <!--end product-item!-->
    </div>
</div> <!--End main page container-->
<app-footer></app-footer>
