$tea-green: #ccd5aeff;
$beige: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$buff: #d4a373ff;

.intro-section{
    text-align: center;
    background-color:$buff;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control{
    margin-top: 5px;
   
}
.product-category{
    width: 200px;
    margin-left: 5px;
}
.product-item{
    background-color: #e9edc9ff;
    border: 1px solid rgb(35,39,61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.product-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-warranty{
    background-color: #ccd5aeff;
}
.product-price{
    background-color: #ccd5aeff;
}
.product-rating{
    color: #d4a373ff;
}
.product-action{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.space-x{
    margin: 0 10px; /* margin-top, margin-right*/
}