$tea-green: #ccd5aeff;
$beige: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$buff: #d4a373ff;

.intro-section{
    text-align: center;
    background-color:$buff;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control{
    margin-top: 5px;
   
}