<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Mộc Computer</h1>
        <p>Trang này hiển thị thông tin sản phẩm</p>
        <p>Người dùng có thể lựa chọn sản phẩm tại đây</p>
    </div>
    <!-- Đoạn này là viết code tìm kiếm và lựa chọn loại sản phẩm -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Đồ nhà bếp</option>
            <option>Đồ phòng ngủ</option>
        </select>
    </div>
    <app-product-detail></app-product-detail>
</div> <!--End main page container-->
<app-footer></app-footer>
